<%= form_with(model: loto7) do |form| %>
  <% if loto7.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(loto7.errors.count, "error") %> prohibited this loto7 from being saved:</h2>

      <ul>
        <% loto7.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :times, style: "display: block" %>
    <%= form.number_field :times %>
  </div>

  <div>
    <%= form.label :first, style: "display: block" %>
    <%= form.text_field :first %>
  </div>

  <div>
    <%= form.label :second, style: "display: block" %>
    <%= form.text_field :second %>
  </div>

  <div>
    <%= form.label :third, style: "display: block" %>
    <%= form.text_field :third %>
  </div>

  <div>
    <%= form.label :forth, style: "display: block" %>
    <%= form.text_field :forth %>
  </div>

  <div>
    <%= form.label :fifth, style: "display: block" %>
    <%= form.text_field :fifth %>
  </div>

  <div>
    <%= form.label :sixth, style: "display: block" %>
    <%= form.text_field :sixth %>
  </div>

  <div>
    <%= form.label :seventh, style: "display: block" %>
    <%= form.text_field :seventh %>
  </div>

  <div>
    <%= form.label :bonusfirst, style: "display: block" %>
    <%= form.text_field :bonusfirst %>
  </div>

  <div>
    <%= form.label :bonussecond, style: "display: block" %>
    <%= form.text_field :bonussecond %>
  </div>

  <div>
    <%= form.label :announcement, style: "display: block" %>
    <%= form.datetime_field :announcement %>
  </div>

  <div>
    <%= form.label :firstcounts, style: "display: block" %>
    <%= form.number_field :firstcounts %>
  </div>

  <div>
    <%= form.label :secondcounts, style: "display: block" %>
    <%= form.number_field :secondcounts %>
  </div>

  <div>
    <%= form.label :thirdcounts, style: "display: block" %>
    <%= form.number_field :thirdcounts %>
  </div>

  <div>
    <%= form.label :forthcounts, style: "display: block" %>
    <%= form.number_field :forthcounts %>
  </div>

  <div>
    <%= form.label :fifthcounts, style: "display: block" %>
    <%= form.number_field :fifthcounts %>
  </div>

  <div>
    <%= form.label :sixthcounts, style: "display: block" %>
    <%= form.number_field :sixthcounts %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
