<div id="<%= dom_id loto7 %>">
  <p>
    <strong>Times:</strong>
    <%= loto7.times %>
  </p>

  <p>
    <strong>First:</strong>
    <%= loto7.first %>
  </p>

  <p>
    <strong>Second:</strong>
    <%= loto7.second %>
  </p>

  <p>
    <strong>Third:</strong>
    <%= loto7.third %>
  </p>

  <p>
    <strong>Forth:</strong>
    <%= loto7.forth %>
  </p>

  <p>
    <strong>Fifth:</strong>
    <%= loto7.fifth %>
  </p>

  <p>
    <strong>Sixth:</strong>
    <%= loto7.sixth %>
  </p>

  <p>
    <strong>Seventh:</strong>
    <%= loto7.seventh %>
  </p>

  <p>
    <strong>Bonusfirst:</strong>
    <%= loto7.bonusfirst %>
  </p>

  <p>
    <strong>Bonussecond:</strong>
    <%= loto7.bonussecond %>
  </p>

  <p>
    <strong>Announcement:</strong>
    <%= loto7.announcement %>
  </p>

  <p>
    <strong>Firstcounts:</strong>
    <%= loto7.firstcounts %>
  </p>

  <p>
    <strong>Secondcounts:</strong>
    <%= loto7.secondcounts %>
  </p>

  <p>
    <strong>Thirdcounts:</strong>
    <%= loto7.thirdcounts %>
  </p>

  <p>
    <strong>Forthcounts:</strong>
    <%= loto7.forthcounts %>
  </p>

  <p>
    <strong>Fifthcounts:</strong>
    <%= loto7.fifthcounts %>
  </p>

  <p>
    <strong>Sixthcounts:</strong>
    <%= loto7.sixthcounts %>
  </p>

</div>
