<p style="color: green"><%= notice %></p>

<%= render @loto7 %>

<div>
  <%= link_to "Edit this loto7", edit_loto7_path(@loto7) %> |
  <%= link_to "Back to loto7s", loto7s_path %>

  <%= button_to "Destroy this loto7", @loto7, method: :delete %>
</div>
